<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duanmau2020">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Bill.AddBillActivity"></activity>
        <activity android:name=".Bill.BillActivity" />
        <activity android:name=".Book.AddBookActivity" />
        <activity android:name=".Book.BookActivity" />
        <activity android:name=".TheLoai.AddTheLoaiActivity" />
        <activity android:name=".TheLoai.TheLoaiActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Nguoidung.AddUserActivity" />
        <activity android:name=".Nguoidung.UserActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>